.perfilHeader {
  background-color: var(--blue);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarProfile {
  position: relative;
  top: 80px;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 100%;
  border: 5px solid var(--white);
  transition: all 1s ease;
}

.userDataContainer {
  margin-top: 100px;
  padding: 20px 40px;
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 4px;
  transition: all 1s ease;
}

.userSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataButtons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.txtBlue {
  color: var(--blue);
  font-weight: 600;
}

.petsSection {
  padding: 40px 0;
}

.petList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.petList li {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: fit-content;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  padding-bottom: 20px;
}

.petList li img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 4px 0 0 4px;
}

.petList li div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#pFooter {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-placeh);
  font-size: var(--size2);
}

@media (min-width: 840px) {
  .avatarProfile {
    top: 120px;
    width: 320px;
    height: 320px;
    transition: all 1s ease;
  }

  .userDataContainer {
    margin-top: 150px;
    transition: all 1s ease;
    width: fit-content;
    align-items: baseline;
  }

  .petList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  .petList li {
    width: 300px;
    align-items: center;
  }

  .petList li img {
    height: 200px;
    width: 300px;
  }
}

@media (min-width: 1050px) {
  .petList li {
    width: 500px;
    max-width: 45%;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0px;
    padding-right: 20px;
  }

  .petList li img {
    height: 200px;
    width: 200px;
  }
}