header {
    height: 77px;
    max-width: 100%;
    min-width: 390px;
    background: var(--blue);
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#divLogo {
    background-color: var(--blue);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h1Logo {
    color: var(--white);
}

#regPage {
    width: 100%;
    min-width: 390px;
    display: flex;
    justify-content: center;
}

#divReg {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 320px;
    gap: 18px;
    padding: 20px;
    border-radius: var(--radius2);
}

#h1Page {
    font-weight: var(--weight3);
    font-size: var(--size4);
    line-height: var(--height4);
    color: var(--blue);
}

#register {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#register input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--blue-placeh);
    border-radius: var(--radius1);
    padding: 15px;
}

#register input::placeholder {
    font-weight: var(--weight1);
    font-size: var(--size3);
    line-height: var(--height1);
    color: var(--blue-placeh);
}

#go-login {
    font-weight: var(--weight1);
    font-size: var(--size3);
    line-height: var(--height0);
    color: var(--black-text);
}

#go-login a {
    color: var(--blue);
}

footer {
    position: fixed;
    bottom: 0px;
    height: 48px;
    width: 100%;
    background: var(--greyfoot);
    align-items: center;
    font-weight: var(--weight1);
    font-size: var(--size1);
    line-height: var(--height0);
    color: var(--blue);
}

@media (min-width: 840px) {
    #divLogo {
        height: 50vh;
    }

    #divReg {
        position: fixed;
        top: 35%;
        background-color: var(--white);
    }
}