body {
  position: relative;
}

.perfilHeader {
  background-color: var(--blue);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.avatarProfile {
  position: relative;
  top: 80px;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 100%;
  border: 5px solid var(--white);
  transition: all 1s ease;
}

/* User Data Section */

.userDataContainer {
  background-color: var(--white);
  padding: 20px 40px;
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  width: 100%;
}

.userSection {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: all 1s ease;
}

.userData {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dataButtons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.txtBlue {
  color: var(--blue);
  font-weight: 600;
}

/* MyAdoptions Section */

.petsSection {
  padding: 40px 0;
}

.myAdoptionsContainer {
  background-color: var(--white);
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  padding: 20px;
  gap: 20px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 100%;
}

.adoptionList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 20px;
  height: fit-content;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.adoptionList li {
  width: 300px;
  height: 100px;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding-bottom: 0px;
  padding-right: 20px;
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  border-radius: 8px;
  background-color: var(--white);
}

.adoptionList li img { 
  height: 100%;
  width: 80px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.adoptionList li div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.dataPet {
  padding: 20px
}

/* All Pet List */

.petListHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#myPetList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  height: 300px;
  overflow-y: auto;
  margin: 20px 0;
  padding: 20px 0;
}

#myPetList li {
  width: 99%;
  height: 100px;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding-bottom: 0px;
  padding-right: 20px;
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  border-radius: 8px;
  background-color: var(--white);
}

#myPetList li img { 
  height: 80px;
  width: 80px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

#myPetList li div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Footer */

#pFooter {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-placeh);
  font-size: var(--size2);
  background-color: var(--greyfoot);
}

/* Buttons card */

.buttonContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.iconEdit {
  background-color: transparent;
  border: none;
  color: var(--blue);
  font-size: 18px;
  cursor: pointer;
}

.iconDelete {
  background-color: transparent;
  border: none;
  color: var(--red);
  font-size: 18px;
  cursor: pointer;
}

/* Scrollbar */
.adoptionList::-webkit-scrollbar{
  width: 6px;
  height: 6px;
  background: transparent;
}


.adoptionList::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 8px;
}

.adoptionList::-webkit-scrollbar-track {
  background-color: transparent;
}

#myPetList::-webkit-scrollbar{
  width: 6px;
  height: 6px;
  background: transparent;
}
#myPetList::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 8px;
}
#myPetList::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Modal edits */

.modalBg {
  background-color: rgba(70, 35, 167, 0.356);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 400px;
  gap: 13px;
  border-radius: 12px 12px 8px 8px;
  justify-content: center;
  animation: modal 1300ms;
}

.modalHeader {
  width: 100%;
  background-color: var(--blue);
  border-radius: 8px 8px 0 0;
  display: flex;
  position: relative;
  height: 50px;
}

.modalFooter {
  width: 100%;
  height: 10px;
  background-color: var(--blue);
  border-radius: 0 0 8px 8px;
}

.txtCenter {
  text-align: center;
}

.closeModal {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 4px;
  color: var(--white);
  font-size: 18px;
}

.formContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer h3 {
  color: var(--blue);
}

.modalInput {
  padding: 14px 10px;
  outline: none;
  border: 1px solid var(--blue-placeh);
  background-color: var(--white);
  color: var(--blue-dark);
  border-radius: 4px;
}

.modalInput::placeholder {
  color: var(--blue-placeh);;
}


@media (min-width: 840px) {
  .avatarProfile {
    top: 80px;
    width: 200px;
    height: 200px;
    transition: all 1s ease;
  }
  .userSection {
    flex-direction: row;
  }

  .userDataContainer {
    width: 50%;
  }

  .userContainer {
    margin-top: 150px;
    transition: all 1s ease;
    width: fit-content;
    align-items: baseline;
  }

  .myAdoptionsContainer{
    height: 240px;
    width: 50%;
  }

  .adoptionList {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    max-height: 240px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .adoptionList li {
    width: 300px;
    align-items: center;
  }

  #myPetList  {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  #myPetList li {
    width: 280px;
    height: 100px;
    display: flex;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding-bottom: 0px;
    padding-right: 20px;
    box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
    border-radius: 8px;
    background-color: var(--white);
  }

  #myPetList li img { 
    height: 100%;
    width: 80px;
  }
}

@media (min-width: 1050px) {
  .adoptionList li {
    width: 98%;
  }

}