.selected {
    text-decoration: underline;
}

header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.imgCards {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.btnView {
    color: var(--blue);
    height: 50px;
    width: 50px;
}

main {
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#homeFilter {
    margin-top: 130px;
    gap: 30px;
    padding: 7px;
    margin-bottom: 40px;
    background-color: var(--blue);
    color: var(--white);
}

.filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 13px;
}

#petList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 90vw;
    padding-bottom: 40px;
}

.petCard {
    position: relative;
    width: 220px;
    box-shadow: 0px 0px 7px rgba(78, 32, 150, 0.25);
    border-radius: 4px;
    display: flex;
    gap: 13px;
}

.petCard .imgCardBox {
    height: 100px;
    border-radius: 4px;
}

.imgCards {
    height: 100px;
    border-radius: 4px;
}

.pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    max-height: 100px;
}

.petName {
    margin-top: 13px;
    padding-bottom: 20px;
    font-size: 20px;
    max-width: 7ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.petSpecies {
    margin-top: -13px;
    font-size: 12px;
    color: var(--blue-namedog);
}


.exclamation {
    font-weight: 500;
    font-size: 15px;
}

.cardBtns {
    width: 100%;
    display: flex;
    gap: 13px;
    align-items: center;
    margin-top: 10px;
}

.pet .btnSmallAlert {
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 23px;
    width: 73px;
    font-size: 13px;
}

.btnAdote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 27px;
    width: 73px;
    font-size: 13px;
    font-weight: 500;
}

.btnView {
    height: fit-content;
    width: fit-content;
}

.btnView:hover {
    color: var(--blue-placeh);
    padding-bottom: 2px;
}

footer {
    position: relative;
    margin-top: 30px;
    bottom: 0;
    background-color: #F1EEF7;
    height: 40px;
    width: 100vw;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

#pFooter {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue-placeh);
    font-size: var(--size2);
}


@media (min-width: 840px) {

    .cardBtns {
        margin-top: 25px;
    }

    .petCard {
        height: 130px;
        width: 260px;
        gap: 13px;
    }

    .imgCards {
        min-height: 130px;
        min-width: 130px;
    }

    .petCard span {
        height: 100px;
        border-radius: 4px;
    }

    .petName {
        margin-bottom: 25px;
        padding-bottom: 25px;
        font-size: 21px
    }

    .petSpecies {
        font-size: 13px;
    }

    .btnAdote {
        right: 41px;
        bottom: 8px;
        font-size: 13px;
    }

    .btnDelete {
        right: 13px;
        bottom: 15px;
    }

    .btnDelete:hover {
        padding-bottom: 2px;
    }

}


@media (min-width: 563px) {
    #homeFilter {
        margin-top: 80px;
    }
}