.selected{
    text-decoration: underline;
}

img{
    width: 100px;
    height: 100px;
}

.btnDelete{
    color: var(--red);
    height: 50px;
    width: 50px;
}

main{
    position: absolute;
    padding-top: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#homeFilter{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
    color: var(--blue);
}

#petList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 90vw;
}

.petCard{
    position: relative;
    box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
    border-radius: 4px;
    display: flex;
    gap: 13px;
}

.petCard span{
    height: 100px;
    border-radius: 4px;
}
.petCard span img{
    height: 100px;
    border-radius: 4px;
}

.pet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    max-height: 100px;
}

.petName{
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 20px
}
.petSpecies{
    font-size: 12px;
    color: var(--blue-namedog);
}
.btnSmallSuccess{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 23px;
    width: 73px;
    position: absolute;
    right: 33px;
    bottom: 5px;
    font-size: 13px;
}

.btnDelete{
    position: absolute;
    right: -30px;
    bottom: -23px;
}


.modalContainer {
    background-color: rgba(70, 35, 167, 0.356);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 18;
    overflow: auto;
}

.modalBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    width: 400px;
    gap: 13px;
    border-radius: 8px;
    justify-content: center;
}

.modalBox span{
    background-color: var(--blue);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;    
    border-radius: 7px 7px 0 0;
}

.modalClose {
    color: var(--white);
    padding-right: 7px;
}

.modalBox h2{
    text-justify: distribute-all-lines;
    padding: 0 33px;
    font-size: 20px;
    color: var(--black);
}

.modalBox p{
    font-size: 15px;
    color: var(--red);
    padding: 0 33px;
}

.modalBox div{
    display: flex;
    justify-content: space-between;
    gap: 13px;
    align-items: center;
}
.modalBox div h2{
    padding-right: 0;
}

.modalBox aside{
    padding-right: 33px;
}

.adoteImg{
    border-radius: 7px;
}

.btnSmallAlert{
    margin: 13px;
}

.modalBox .btnSmallSuccess{
    position: relative;
    top: 0;
    left: 215px;
    width: 40%;
    height: 30px;
    justify-self: center;
    margin-bottom: 10px;
}



/*
<article class='modalContainer' id="adotePetModal">
            <div class='modalBox'>
                <span>
                <i id="closeAdotePet" class="modalClose fa-regular fa-circle-xmark"></i>
                </span>
                <h2>Realmente deseja adotar o Pet: ${petName}?</h2>  
                <aside><img class='adoteImg' id="" src="${petImg}" alt=""></aside>          
                <button class="bttn-green" id="adotePetBtn">Confirmar</button>
            </div>
        </article>
<article class='modalContainer' id="deletePetModal">
            <div class='modalBox'>
                <span>
                <i id="closeDeletePet" class="modalClose fa-regular fa-circle-xmark"></i>
                </span>
                <h2>Realmente deseja deletar o registro do Pet: ${petName}?</h2>            
                <button class="bttn-green" id="deletePetBtn">Confirmar</button>
            </div>
        </article>
*/