.selected {
    text-decoration: underline;
}

header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

img {
    width: 100px;
    height: 100px;
}

.btnDelete {
    color: var(--red);
    height: 50px;
    width: 50px;
}

main {
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#homeFilter {
    gap: 30px;
    padding: 7px 5vw;
    margin-bottom: 40px;
    background-color: var(--blue);
    color: var(--white);
}

.filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 13px;
}

#petList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 90vw;
}

.petCard {
    position: relative;
    box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
    border-radius: 4px;
    display: flex;
    gap: 13px;
}

.petCard span {
    height: 100px;
    border-radius: 4px;
}

.petCard span img {
    height: 100px;
    border-radius: 4px;
}

.pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    max-height: 100px;
}

.petName {
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 20px
}

.petSpecies {
    font-size: 12px;
    color: var(--blue-namedog);
}

.btnSmallSuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 23px;
    width: 73px;
    position: absolute;
    right: 30px;
    bottom: 9px;
    font-size: 13px;
    font-weight: 500;
}

.exclamation {
    font-weight: 500;
    font-size: 15px;
}

.pet .btnSmallAlert {
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 23px;
    width: 73px;
    position: absolute;
    right: 30px;
    bottom: 9px;
    font-size: 13px;
}

.btnDelete {
    position: absolute;
    height: fit-content;
    width: fit-content;
    right: 7px;
    bottom: 11px;
}

.btnDelete:hover {
    padding-bottom: 2px;
}

footer {
    position: relative;
    margin-top: 30px;
    bottom: 0;
    background-color: #F1EEF7;
    height: 40px;
    width: 100vw;
    align-items: center;
}

#pFooter {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue-placeh);
    font-size: var(--size2);
}


@media (min-width: 840px) {

    .petCard {
        height: 130px;
        width: 260px;
        gap: 13px;
    }

    img {
        min-height: 130px;
        min-width: 130px;
    }

    .petCard span {
        height: 100px;
        border-radius: 4px;
    }

    .petName {
        margin-bottom: 13px;
        font-size: 21px
    }

    .petSpecies {
        font-size: 13px;
    }

    .btnSmallSuccess {
        right: 39px;
        bottom: 13px;
    }

    .pet .btnSmallAlert {
        right: 39px;
        bottom: 13px;
        font-size: 13px;
    }

    .btnDelete {
        right: 13px;
        bottom: 15px;
    }

    .btnDelete:hover {
        padding-bottom: 2px;
    }
}