.btnBrand {
    cursor: pointer;
    background: var(--blue);
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--blue);
    padding: 14px 10px;
    width: 100%;
    color: var(--white);
    font-weight: bold;
}

.btnBrand:hover {
    background: var(--blue-dark);
    border: 1px solid var(--blue-dark);
}

.btnSmallBrand {
    cursor: pointer;
    background: var(--blue);
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--blue);
    ;
    outline: none;
    padding: 8px 12px;
    color: var(--white);
    font-weight: bold;
}

.btnSmallBrand:hover {
    background: var(--blue-dark);
    border: 1px solid var(--blue-dark);
}

.btnSmallAlert {
    cursor: pointer;
    background: var(--white);
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--red);
    outline: none;
    padding: 8px 12px;
    color: var(--red);
    font-weight: bold;
}

.btnSmallAlert:hover {
    background: var(--red);
    border: 1px solid var(--red);
    color: var(--white);
}

.btnSmallSuccess {
    cursor: pointer;
    background: var(--green);
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--green);
    outline: none;
    padding: 8px 12px;
    color: var(--white);
    font-weight: bold;
}

.btnSmallSuccess:hover {
    background: var(--green-dark);
    border: 1px solid var(--green-dark);
}

.btnSmallLink {
    cursor: pointer;
    background: var(--white);
    border-radius: 4px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 8px 12px;
    color: var(--blue);
    font-weight: bold;
}

.btnSmallLink:hover {
    text-decoration: underline;
}