@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --size0: 10px;
    --size1: 12px;
    --size2: 14px;
    --size3: 16px;
    --size4: 24px;
    --size5: 28px;

    --blue: #4E2096;
    --blue-dark: #361B60;
    --blue-placeh: #B48CF2;
    --blue-namedog: #90A4AE;
    --white: #FFFFFF;
    --black-text: #1B1C1E;
    --red: #EA534A;
    --green: #33CC66;
    --green-dark: #0DAF43;
    --greyfoot: #F1EEF7;   
    --grey-light: #EEEEEE;

    --weight1: 400;
    --weight2: 600;
    --weight3: 700;

    --height0: 16px;
    --height1: 19px;
    --height2: 22px;
    --height3: 38px;
    --height4: 110%;

    --radius1: 4px;
    --radius1-1: 8px;
    --radius2: 16px;
    --radius-img: 50%;
}

body {
    font-family: "Inter", sans-serif;
    letter-spacing: 0%;
    text-decoration: none;
    width: 100%;
    height: 100vh;
}