.container {
    padding: 23px 13vw;

}

#navHeader{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: fit-content;    
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-light);
    z-index: 1;
}

#headerLogo{
    display: flex;
    align-items: center;
    gap: 13px;
    color: var(--blue);
}

#headerBtns{    
    display: flex;
    align-items: center;
    gap: 13px;  
}


@media(max-width:550px) {
    #navHeader {
        justify-content: center;
    }
}