.modalContainer {
    background-color: rgba(70, 35, 167, 0.356);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 18;
    overflow: auto;
}

.modalBox {

    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    width: 400px;
    gap: 13px;
    border-radius: 8px;
    justify-content: center;
    animation: modal 1300ms;
}

.modalHeader {
    border: 1px solid var(--blue-placeh);
    border-bottom: none;
    background-color: var(--blue);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 7px 7px 0 0;
}

.modalClose {
    color: var(--white);
    padding-right: 7px;
}

.modalBox h2 {
    text-justify: distribute-all-lines;
    padding: 0 33px;
    font-size: 20px;
    color: var(--black);
}

.modalBox p {
    font-size: 15px;
    color: var(--red);
    padding: 0 33px;
}

.modalBox div {
    display: flex;
    justify-content: space-between;
    gap: 13px;
    align-items: center;
}

.modalBox div h2 {
    padding-right: 0;
}

.adoteImg {
    border-radius: 7px;
}

.btnSmallAlert {
    margin: 13px;
}

.adoteModalBox  {
    position: relative;
    top: 0;
    left: 215px;
    width: 40%;
    height: 30px;
    justify-self: center;
    margin-bottom: 10px;
}

.petInfoModal{
    display: flex;
    padding: 0 13px;
    min-height: 100%;
}

.imgBox{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height: 200px;
    gap: 13px;
    padding-right: 0;
    padding: 0;
    margin: 0;
    width: fit-content;
}

.imgBox img{
    padding: 0;
    height: 140px;
    width: 120px;
    object-fit: cover;
    border-radius: 7px;
}

.petInfo{
    width: 60%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    padding: 0 0 0 13px;
    gap: 7px;
}

.petInfo h2{
    padding: 0;
}

.petInfo h5{
    color: var(--blue-namedog);
}

.petInfo p{
    padding: 0;
    color: var(--blue-placeh);
    max-width: 23ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;    
}

.adoteInModal{
    height: 30px;
    width: 100%;
    padding: 13px 13px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.imgBox .btnSmallAlert {
    height: 30px;
    width: 100%;
    padding: 13px 13px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

@keyframes modal {
    0% {
        transform: translate(-70%, 0%);
        opacity: 0;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}